<%-include("./partials/header")-%>
<head>
    <link rel="stylesheet" href="/public/auth-form.css">
</head>
<div class="text-center">
    <div class="alert alert-info container" role="alert">
        Previous deadline was <b><%=task.deadline.toDateString()%></b>, please choose it again to keep it unchanged
      </div>
    <form class="form-signin" action="/task/<%=task._id%>?_method=PUT" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Edit Task Here</h1>
        <div class="input-group" style="margin-top: 10px;">
            <label class="input-group-text" for="inputGroupSelect01">Task Name</label>
            <input type="text" class="form-control" placeholder="Task Name" name="task_name" value="<%= task.name%>" required autofocus>
          </div> 
        <div class="input-group" style="margin-top: 10px;">
          <label class="input-group-text" for="inputGroupSelect01">Select Workers</label>
        </div> 
        <select name="assignedworkers" multiple="multiple" required>
          <%workers.forEach(function(worker){%>
            <option value="<%=worker.email%>" <% if(task.AssignedTo.indexOf(worker._id)!==-1){%> selected <% } %> ><%=worker.email%></option>  
          <%})%>
        </select> 
        <div class="input-group" style="margin-top: 10px;">
            <label class="input-group-text" for="inputGroupSelect01">Task Description</label>
            <input type="text" class="form-control" placeholder="Task Description" value="<%=task.description%>" name="description" required autofocus>
        </div>
        <div class="input-group" style="margin-top: 10px;">
            <label class="input-group-text" for="inputGroupSelect01">Task Deadline</label>
            <input type="date" id="birthday" name="deadline" required>
        </div>  
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
</div>
<%-include("./partials/footer")-%>