<%-include("./partials/header")-%>
<head>
  <link rel="stylesheet" href="/public/manager_portal.css" />
</head>
<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/manager"> All Tasks </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task"> Assign Task </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task"> Completed Tasks </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task"> Pending Tasks </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="container">
        <h4>Tasks assigned by you</h4>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Status</th>
              <th scope="col">Assigned Date</th>
              <th scope="col">Deadline</th>
              <th scope="col">View Submission</th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach(task => { %>
              <tr>
                <th><%= task.name %> </th>
                <td><% task.AssignedTo.forEach((person)=>{%>
                    <%= person.email %>
                  <%})  %> </td>
                <td><% if(!task.completeStatus){%>
                  <span class="badge badge-pill badge-warning">Pending</span>
                  <%}else{%>
                    <span class="badge badge-pill badge-success">Done</span>
                    <%} %> </td>
                <td><%= task.createdAt.toDateString() %></td>
                <td><%= task.deadline.toDateString() %> </td>
                <td>@mdo</td>
              </tr>
            <% }); %> 
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/manager/alltasks/1">First</a></li>
            <%var limit%> <%var start%> 
            <% console.log(currentPage) %> 
            <% console.log(totalPages) %> 
            <%if(currentPage>=2){%>
              <%limit=Math.min(totalPages, currentPage+2)%>
              <% console.log(limit) %> 
              <%start=currentPage-1%> 
              <% console.log(start) %> 
            <%}else{%> 
              <%limit=Math.min(totalPages,currentPage+3)%> 
              <%start=1%> 
            <%}%> 
            <%for(let i=start;i<=limit;i++){%> 
              <%if(i==currentPage){%>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="/manager/alltasks/<%=i%>"><%=i%> <span class="sr-only">(current)</span></a>
                </li>
              <%}else{%>
                <li class="page-item">
                  <a class="page-link" href="/manager/alltasks/<%=i%>"><%=i%></a>
                </li>
              <%}%> 
            <%}%>
            <li class="page-item"><a class="page-link" href="/manager/alltasks/<%=totalPages%>">Last</a></li>
          </ul>
        </nav>
      </div>
    </main>
  </div>
</div>
<%-include("./partials/footer")-%>
